/* imageViewer.css */

.image-viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  z-index: 990;
  transition: opacity 0.5s ease;
}

.image-container {
  max-height: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.image-viewer img {
  max-height: 100%;
  max-width: 100%;
}

.closeButton {
  display: flex;
  position: fixed;
  top: 20px;
  background-color: transparent;
  border: none;
  right: 20px;
  z-index: 1010;
  cursor: pointer;
}

.closeButton img,
.upButton img,
.downButton img {
  width: 24px;
  height: 24px;
}

.up-down-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.image-viewer-active {
  display: flex;
  animation: slideIn 0.5s forwards;
}

.image-viewer-hidden {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
