body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #666666;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
